* {
    font-size: x-large !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: inherit !important;
    padding: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 60px !important;
    font-weight: bolder;
    color: #fbbc42;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    min-height: 100vh;
}

.center {
    text-align: center;
    align-items: center;
}

.form-group .control-label {
    color: #e7e5e8;
    text-align: left;
    font-size: 24px !important;
    font-weight: bolder;
}

.dbz-button {
    text-align: center;
    background-color: #1c4595;
    border-color: #1c4595;
    color: white;
    font-size: 24px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    width: 462px;
    transition: background-color 0.3s, border-color 0.3s;
}

.dbz-button:hover {
    background-color: #0c2b63;
    border-color: #0c2b63;
    color: white;
}