span {
    background: #fbbc42 !important;
}

.bg-1 {
    background: url('../images/world-cover.jpg');
    background-size: cover;
}

.bg-2 {
    background: url('../images/blue-cover.jpg');
    background-size: cover;
}

.bg-3 {
    background: url('../images/black-cover.jpg');
    background-size: cover;
}

.bg-4 {
    background: url('../images/fighters-cover.jpg');
    background-size: cover;
}


/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    margin-top: 20px;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.list-item {
    list-style-type: disc;
    display: list-item;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
}

.list-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding-left: 10px;
    transition: background-color 1.5s ease;
    transition: padding-left 1s ease;
}