.bg-final {
    background: url('../images/guru-cover.jpg');
    background-size: cover;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0px 20px 0px;
}

th,
td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    color: white;
    font-size: 24px !important;
    font-weight: bolder;
}

th {
    background-color: #333;
}

tbody tr:nth-child(even) {
    background-color: #222;
}

tbody tr:nth-child(odd) {
    background-color: #444;
}

/* Optional: Hover effect on rows */
tbody tr:hover {
    background-color: #555;
}

.table-title {
    color: #fbbc42;
    font-weight: bolder;
}