{% with messages = get_flashed_messages() %}
{% if messages %}
{% for value in messages %}
<div class="alert alert-primary alert-dismissible" role="alert">
    <strong>{{value}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}