{% from "_renderfield.html" import renderfield %}
{%extends 'base.html'%}


{%block customStyling%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/result.css') }}">
{%endblock%}

{%block title%}Calculator results{%endblock%}

{%block content%}
<form method="post">

    <div id="fullpage">
        <div class="section bg-final">
            <div class="container">
                <h1 class="title center">Results</h1>
                <table>
                    <thead>
                        <tr>
                            <th class="table-title">Attribute<br></th>
                            <th class="table-title">Base<br></th>
                            <th class="table-title">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Health</td>
                            <td>{{ base["Health"] }}</td>
                            <td>{{ total["Health"] }}</td>
                        </tr>
                        <tr>
                            <td>Ki</td>
                            <td>{{ base["Ki"] }}</td>
                            <td>{{ total["Ki"] }}</td>
                        </tr>
                        <tr>
                            <td>Stamina</td>
                            <td>{{ base["Stamina"] }}</td>
                            <td>{{ total["Stamina"] }}</td>
                        </tr>
                        <tr>
                            <td>Basic attack</td>
                            <td>{{ base["Basic attack"] }}</td>
                            <td>{{ total["Basic attack"] }}</td>
                        </tr>
                        <tr>
                            <td>Strike Supers</td>
                            <td>{{ base["Strike supers"] }}</td>
                            <td>{{ total["Strike supers"] }}</td>
                        </tr>
                        <tr>
                            <td>Ki Supers</td>
                            <td>{{ base["Ki supers"] }}</td>
                            <td>{{ total["Ki supers"] }}</td>
                        </tr>
                    </tbody>
                </table>

                <form method="post">
                    <div class="center">
                        <input type="submit" class="dbz-button" value="Go Back">
                    </div>
                </form>          

            </div>

        </div>

    </div>

</form>
{%endblock%}

{%block customStylingCode%}
<script src="{{ url_for('static', filename='js/result.js') }}"></script>
{%endblock%}