{% from "_renderfield.html" import renderfield %}
{%extends 'base.html'%}


{%block customStyling%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{%endblock%}

{%block title%}Attributes and stats selection{%endblock%}

{%block content%}
<form method="post">

    <div id="fullpage">
        <div class="section bg-1">


            <div class="container">
                <h1 class="title center">DBZ Xenoverse 2 Character Attribute Calculator</h1>
                {% include "_messages.html" %}
                <div class="bg-text">
                    <ul class="list">
                        <li class="list-item">Attributes should have a total of 375, which means 125 as maximun for
                            3 stats.</li>
                        <li class="list-item">QQ bang stats can go from -5 to 5. Also, this stat replaces Clothing.</li>
                        <li class="list-item">42 points in ki or stamina in attrributes means 1 extra bar.</li>
                        <li class="list-item">All characters have 500 ki and stamina stats by default (5 bars).</li>
                    </ul>
                </div>

            </div>

        </div>

        <div class="section bg-2">
            <div class="container">
                <p class="title">Basic information</p>
                <div class="form-group">
                    {{ renderfield(form.height) }}
                    {{ renderfield(form.body) }}
                    {{ renderfield(form.race) }}
                </div>
            </div>
        </div>

        <div class="section bg-3">
            <div class="container">
                <p class="title">Attributes</p>
                <div class="form-group">
                    {{ renderfield(form.health) }}
                    {{ renderfield(form.ki) }}
                    {{ renderfield(form.stamina) }}
                    {{ renderfield(form.basic_attack) }}
                    {{ renderfield(form.strike_supers) }}
                    {{ renderfield(form.ki_supers) }}
                </div>
            </div>
        </div>

        <div class="section bg-4">
            <div class="container">
                <p class="title">QQ bang</p>
                <div class="form-group">
                    {{ renderfield(form.qq_health) }}
                    {{ renderfield(form.qq_ki) }}
                    {{ renderfield(form.qq_stamina) }}
                    {{ renderfield(form.qq_basic_attack) }}
                    {{ renderfield(form.qq_strike_supers) }}
                    {{ renderfield(form.qq_ki_supers) }}

                    <div class="center">
                        <input type="submit" class="dbz-button" value="Create character">
                    </div>
                    
                </div>
            </div>

        </div>

    </div>

</form>
{%endblock%}

{%block customStylingCode%}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{%endblock%}